
body{
    background-color: silver;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;   
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }


h2{
    color: rgb(75, 196, 196);
    font-family: Comic Sans MS , cursive, sans-serif;
    text-align: center;
    font-size: medium;
}

p{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
    text-align: center;
}

boxy{
    max-width: 150px;
    border: 2px solid black;
    margin-bottom: 40em;
}

    .box1:hover {
        transform: scale(1.05);
        box-shadow: 0 0 40px -10px white;
      }
      .box2:hover {
        transform: scale(1.05);
        box-shadow: 0 0 40px -10px white;
      }
      .box3:hover {
        transform: scale(1.05);
        box-shadow: 0 0 40px -10px white;
      }
      .box4:hover {
        transform: scale(1.05);
        box-shadow: 0 0 40px -10px white;
      }


@media only screen and (min-width: 694px) and (max-width: 950px) {
    p{
        font-size: x-small;
    }
     h2 {
            font-size: small;
        }
    }

@media only screen and (max-width: 694px) {
    .box{
        flex-direction: column;
        justify-content: space-between;

    }
    img{
        display: block;
        margin-left: auto;
         margin-right: auto;
        width: 50%;
    }
    p h2{
        text-align: center;
    }
}